node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
storybook-static
coverage
.env.local
.env.*.local
test-results
playwright-report
supabase/.env
supabase/.branches
supabase/.temp
